html,
body {
  width: 100vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.testForm div label {
  margin-right: 8px;
}

.testForm div input {
  margin-right: 4px;
}

.newPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notFound p {
  font-size: calc(10px + 2vmin);
}

.notFound img {
  border-radius: 20%;
  width: calc(80vmin);
}

#root #scroll-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 35px;
  width: 35px;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: none;
  outline: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out, bottom 0.2s ease-in-out;
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out, bottom 0.2s ease-in-out;
}

#root #scroll-btn.active {
  right: 1.4rem;
  opacity: 1;
}

#root #scroll-btn.active.shift {
  bottom: 4.5rem;
  opacity: 1;
}

#root #scroll-btn.active:hover .circle-top, #root #scroll-btn.active.shift:hover .circle-top {
  opacity: 1;
  -webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#root #scroll-btn.active:hover .circle-bottom, #root #scroll-btn.active.shift:hover .circle-bottom {
  opacity: 1;
  -webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#root #scroll-btn.active:hover .circle-arrow, #root #scroll-btn.active.shift:hover .circle-arrow {
  -webkit-animation: scroll-y-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: scroll-y-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#root .circle {
  background: #db2721;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

#root .circle.circle-top {
  height: 25px;
  width: 17.5px;
  opacity: 0;
}

#root .circle.circle-bottom {
  height: 25px;
  width: 17.5px;
  opacity: 0;
}

#root .circle-arrow {
  color: #ffffff;
  position: absolute;
  z-index: 1;
}

@-webkit-keyframes blob-1-anim {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  30% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  70% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  95% {
    -webkit-transform: scale(1) translateY(-8px);
            transform: scale(1) translateY(-8px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@keyframes blob-1-anim {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  30% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  70% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  95% {
    -webkit-transform: scale(1) translateY(-8px);
            transform: scale(1) translateY(-8px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@-webkit-keyframes blob-2-anim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  24% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes blob-2-anim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  24% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes scroll-y-anim {
  0% {
    -webkit-transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

@keyframes scroll-y-anim {
  0% {
    -webkit-transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

#nominees-container {
  min-height: 100vh;
  padding: 3em;
  background: radial-gradient(#525252, #131313);
}

#nominees-container .nominees-results .card-body hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#nominees-container .nominees-results .card-body .row .nominee-card {
  margin-bottom: 2.5em;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card {
  background: none;
  border-width: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  height: 314px;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .rank {
  position: absolute;
  top: 0;
  right: 1em;
  color: #FFFFFF;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.75);
  padding: .5em .5em .75em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 87%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 87%, 0 100%);
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .header {
  cursor: pointer;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .header .nominee-image {
  height: 270px;
  border-radius: .25rem;
  margin-bottom: 0.5em;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .header .nominee-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .details {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .details .nominee-stats {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.125);
          column-rule: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1em;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card .cover .details .nominee-stats .card-text span {
  display: block;
  font-size: 0.8em;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card:hover {
  background: #FFFFFF;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#nominees-container .nominees-results .card-body .row .nominee-card.card:hover .cover {
  -webkit-transform: translateY(-9%) scale(0.8);
          transform: translateY(-9%) scale(0.8);
}

#nominees-container .nominees-results .card-body .row .nominee-card.card:hover .cover .details {
  opacity: 1;
  height: unset;
  pointer-events: unset;
  -webkit-transition: opacity 250ms ease 200ms;
  transition: opacity 250ms ease 200ms;
}

.search-container .search-movies {
  margin-bottom: 1rem;
}

.search-container .search-movies hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-container .search-movies form .form-group .form-label {
  margin-bottom: .75rem;
}

.movie-results-container .search-results .card-body .movie-card {
  margin-bottom: 2.5em;
}

.movie-results-container .search-results .card-body .movie-card.card {
  background: none;
  border-width: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  height: 314px;
}

.movie-results-container .search-results .card-body .movie-card.card .cover {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.movie-results-container .search-results .card-body .movie-card.card .cover .header {
  cursor: pointer;
}

.movie-results-container .search-results .card-body .movie-card.card .cover .header .movie-image {
  height: 270px;
  border-radius: .25rem;
  margin-bottom: 0.5em;
}

.movie-results-container .search-results .card-body .movie-card.card .cover .header .movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-results-container .search-results .card-body .movie-card.card .cover .details {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.movie-results-container .search-results .card-body .movie-card.card .cover .details .movie-stats {
  margin-bottom: 1em;
}

.movie-results-container .search-results .card-body .movie-card.card .cover .details .movie-stats .card-text span {
  display: block;
  font-size: 0.8em;
}

.movie-results-container .search-results .card-body .movie-card.card:hover {
  background: #FFFFFF;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.movie-results-container .search-results .card-body .movie-card.card:hover .cover {
  -webkit-transform: translateY(-20%) scale(0.8);
          transform: translateY(-20%) scale(0.8);
}

.movie-results-container .search-results .card-body .movie-card.card:hover .cover .details {
  opacity: 1;
  height: unset;
  pointer-events: unset;
  -webkit-transition: opacity 250ms ease 200ms;
  transition: opacity 250ms ease 200ms;
}

.movie-results-container .search-results .card-body .row .load-more {
  margin: 1em 0 3em 0;
}

.personal-nominations-container .personal-movie-nominations {
  margin-bottom: 1rem;
}

.personal-nominations-container .personal-movie-nominations .submission-card {
  background: none;
  border-width: 0;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal-nominations-container .personal-movie-nominations .submission-card .cover {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: .25rem;
}

.personal-nominations-container .personal-movie-nominations .submission-card .cover .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-nominations-container .personal-movie-nominations .nomination-card {
  margin-bottom: 2.5em;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card {
  background: none;
  border-width: 0;
  height: 314px;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card .cover .remove-nomination {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card .cover .remove-nomination svg {
  fill: #4c4747;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card .cover .cover-image {
  position: relative;
  margin-bottom: 0.5em;
  border-radius: .25rem;
  overflow: hidden;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card .cover .cover-image .nomination-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background-color: #000;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card .cover .cover-image .nomination-image {
  height: 270px;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card .cover .nomination-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card:hover .cover .remove-nomination {
  top: -10px;
  right: -10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card:hover .cover .remove-nomination:hover svg {
  fill: #007bff;
}

.personal-nominations-container .personal-movie-nominations .nomination-card.card:hover .cover .cover-image .nomination-image-overlay {
  opacity: 0.5;
}

.submission-alert-container .alert-container {
  position: fixed;
  width: 100vw;
  top: 4em;
  left: 0;
  z-index: 1020;
}

.submission-alert-container .alert-container .alert {
  border-radius: 0;
}

.submission-alert-container .alert-container .alert .close {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submission-button-container .submission-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submission-button-container .submission-notification p {
  margin: 0;
}

.submission-button-container .submission-notification .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
}

.submission-button-container .submission-notification .btn p {
  margin-left: 0.5em;
}

.nomination-notifications-container .notification-container {
  position: fixed;
  bottom: .5em;
  right: .5em;
  z-index: 1020;
}

.nomination-notifications-container .notification-container .notification .toast {
  min-width: 350px;
}

.nomination-notifications-container .notification-container .notification .toast.bottom-right {
  -webkit-animation: toast-in-right .7s;
          animation: toast-in-right .7s;
}

.nomination-notifications-container .notification-container .notification .toast .notification-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-webkit-keyframes toast-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes toast-in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#vote-container {
  position: relative;
  min-height: 100vh;
  padding: 3em;
  background: radial-gradient(#525252, #131313);
}

#social-media-btns-container button {
  margin-right: 0.5em;
}

#social-media-btns-container button svg {
  border-radius: 50%;
}

#confirmation-container {
  min-height: 100vh;
  padding: 3em;
  background: radial-gradient(#525252, #131313);
}

#confirmation-container .confirmation-card .confirmation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#confirmation-container .confirmation-card .confirmation-header .success {
  width: 35px;
  height: 35px;
  color: #FFFFFF;
  margin-right: 0.5em;
  background: #28a745;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#confirmation-container .confirmation-card .confirmation-header .alert-heading {
  margin: 0;
  line-height: unset;
}

#confirmation-container .confirmation-card .card-text a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}

#error-container {
  min-height: 100vh;
  padding: 3em;
  background: radial-gradient(#525252, #131313);
}

#error-container .error-card .error-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#error-container .error-card .error-header .error {
  width: 35px;
  height: 35px;
  color: #FFFFFF;
  margin-right: 0.5em;
  background: #dc3545;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#error-container .error-card .error-header .alert-heading {
  margin: 0;
  line-height: unset;
}

#error-container .error-card .card-text a {
  display: inline;
  padding: 0;
  text-decoration: underline;
}
/*# sourceMappingURL=App.css.map */