#confirmation-container {
    min-height: 100vh;
    padding: 3em;
    background: radial-gradient(#525252, #131313); 
    
    .confirmation-card {
        .confirmation-header {
            display: flex;
            align-content: center;

            .success {
                width: 35px;
                height: 35px;
                color: #FFFFFF;
                margin-right: 0.5em;
                background: #28a745;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .alert-heading {
                margin: 0;
                line-height: unset;
            }
        }

        .card-text {
            a {
                display: inline;
                padding: 0;
                text-decoration: underline;
            }
        }

        .share-on-social {
            .sharable-links {

            }
        }
    }
}