.social-media-btns-container {
    button {
        margin-right: 1em;
        margin-bottom: 1em;
        
        svg {
            border-radius: 50%;
        }
    }
    button:hover {
        transform: scale(1.25);
    }
}