.social-media-btns-container {
    button {
        margin: 0 .5em 1em .5em;
        
        svg {
            border-radius: 50%;
        }
    }
    button:hover {
        transform: scale(1.25);
    }
}