@import "../modules/all";

* {
    box-sizing: border-box;
}

html,
body {
  width: 100vw;
}

#root {
  overflow: hidden;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// .testForm div label {
//   margin-right: 8px;
// }

// .testForm div input {
//   margin-right: 4px;
// }

// .newPage {
//   display: flex;
//   justify-content: center;
// }

// .notFound {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .notFound p {
//   font-size: calc(10px + 2vmin);
// }

// .notFound img {
//   border-radius: 20%;
//   width: calc(80vmin);
// }


// * {
//   box-sizing: border-box;
// }

// // body {
// //   margin: 0;
// //   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
// //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
// //     sans-serif;
// //   -webkit-font-smoothing: antialiased;
// //   -moz-osx-font-smoothing: grayscale;
// // }

// // code {
// //   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
// //     monospace;
// // }

// html, body {
//   height: 100%;
//   width: 100%;
// }

// body {
//   margin: 0;
//   // height: 100vh;
//   // width: 100vw;
//   font-size: $base-font-size;
//   line-height: $base-line-height;
//   font-weight: $base-font-weight;
//   font-family: $base-font-family !important;
//   color: $body-color;
//   background-color: $body-bg-color !important;
// }

// h1, h2, h3, h4, h5, h6 {
//   margin-top: 0;
//   font-weight: $regular;
//   margin-bottom: $header-margin-bottom;
// }

// h1 {
//   font-size: $h1-font-size;
//   line-height: $h1-line-height;
// }

// h2 {
//   font-size: $h2-font-size;
//   line-height: $h2-line-height;
// }

// h3 {
//   font-size: $h3-font-size;
//   line-height: $h3-line-height;
// }

// h4 {
//   font-size: $h4-font-size;
//   line-height: $h4-line-height;
// }

// /***** Tablet Settings *****/
// @media (max-width: 56.25em) {
//   h1 {
//     font-size: $h1-tablet-font-size;
//     line-height: $h1-tablet-line-height;
//   }
  
//   h2 {
//     font-size: $h2-tablet-font-size;
//     line-height: $h2-tablet-line-height;
//   }
  
//   h3 {
//     font-size: $h3-tablet-font-size;
//     line-height: $h3-tablet-line-height;
//   }
  
//   h4 {
//     font-size: $h4-tablet-font-size;
//     line-height: $h4-tablet-line-height;
//   }
// }

// /***** Mobile settings *****/
// @media (max-width: 43.75em) {
//   h1 {
//     font-size: $h1-mobile-font-size;
//     line-height: $h1-mobile-line-height;
//   }
  
//   h2 {
//     font-size: $h2-mobile-font-size;
//     line-height: $h2-mobile-line-height;
//   }
  
//   h3 {
//     font-size: $h3-mobile-font-size;
//     line-height: $h3-mobile-line-height;
//   }
  
//   h4 {
//     font-size: $h4-mobile-font-size;
//     line-height: $h4-mobile-line-height;
//   }
// }

// p {
//   margin-top: 0;
//   margin-bottom: $paragraph-margin-bottom;
//   line-height: $paragraph-line-height;
// }

// section {
//   height: 100vh;
//   width: 100vw;
// }

// section:nth-of-type(2) {
//   padding: 0;
// }

// section div .card {
//   width: 100vw;
//   border: none;
//   border-radius: 0;
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   flex-flow: row;
//   box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
// }

// .logo {
//   border-radius: 15%;
// }

// .logo, .social-logo {
//   width: 30px;
//   height: 30px;

//   svg {
//     height: 100%;
//     width: 100%;
//   }
// }

// .colored-text {
//   color: color(accent2);
// }

// #home-container {
//   display: flex;
//   flex-flow: column;
//   overflow: hidden;
// }

// /********** Large and Extra large devices **********/
// @media only screen and (min-width: 992px) {
//   svg.flower {
//     height: 15rem;
//     width: 15rem;
//   }
// }

// /********** Medium devices **********/
// @media only screen and (min-width: 768px) and (max-width: 991.98px) {
//   svg.flower {
//     height: 12rem;
//     width: 12rem;
//   }
// }

// /********** All Small devices **********/
// @media only screen and (max-width: 767.98px) {
//   svg.flower {
//     height: 10rem;
//     width: 10rem;
//   }
// }