.search-container .search-movies {
    margin-bottom: 1rem;

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    form .form-group .form-label {
        margin-bottom: .75rem;
    }
}