.submission-button-container .submission-notification {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1em;

        p {
            margin-left: 0.5em;
        }
    }
}