@import "search";
@import "movies";
@import "movieDetails";
@import "nominations";
@import "submissionAlert";
@import "submissionButton";
@import "notifications";

#vote-container {
    position: relative;
    min-height: 100vh;
    padding: 3em;
    background: radial-gradient(#525252, #131313);
}
